pkgbase = orra
	pkgdesc = Hold a key, speak, and the words are typed into whatever window has focus
	pkgver = 0.1.10
	pkgrel = 1
	url = https://github.com/callmearta/orra
	arch = x86_64
	license = custom
	makedepends = cargo
	makedepends = npm
	makedepends = pkgconf
	depends = wtype
	depends = wl-clipboard
	depends = libayatana-appindicator
	depends = webkit2gtk-4.1
	depends = gtk3
	options = !lto
	source = orra-0.1.10.tar.gz::https://github.com/callmearta/orra/archive/refs/tags/v0.1.10.tar.gz
	source = orra.desktop
	source = LICENSE
	sha256sums = a5ffa67f364cc2f16147349c06bd41a0f863a7c404a47e43fb0d86faebb2cd65
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = orra
