pkgbase = orra
	pkgdesc = Hold a key, speak, and the words are typed into whatever window has focus
	pkgver = 0.1.6
	pkgrel = 1
	url = https://github.com/callmearta/orra
	arch = x86_64
	license = custom
	makedepends = cargo
	makedepends = npm
	makedepends = pkgconf
	depends = wtype
	depends = wl-clipboard
	depends = libayatana-appindicator
	depends = webkit2gtk-4.1
	depends = gtk3
	options = !lto
	source = orra-0.1.6.tar.gz::https://github.com/callmearta/orra/archive/refs/tags/v0.1.6.tar.gz
	source = orra.desktop
	source = LICENSE
	sha256sums = 304eb4362ee1f8ec64e7dd7359d0ec50580ffed04167e6d1829657228b2e0ee9
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = orra
