pkgbase = orra
	pkgdesc = Hold a key, speak, and the words are typed into whatever window has focus
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/callmearta/orra
	arch = x86_64
	license = custom
	makedepends = cargo
	makedepends = npm
	makedepends = pkgconf
	depends = wtype
	depends = wl-clipboard
	depends = libayatana-appindicator
	depends = webkit2gtk-4.1
	depends = gtk3
	options = !lto
	source = orra-0.1.4.tar.gz::https://github.com/callmearta/orra/archive/refs/tags/v0.1.4.tar.gz
	source = orra.desktop
	source = LICENSE
	sha256sums = e57a2a18153a14782d0d1f1a82dbab1484bf4ab3ee11e0bc2528a8a7a0eb6fc5
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = orra
